/.vscode
/bin
obj/Debug/netcoreapp3.1/selection_max.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/selection_max.dll
obj/Debug/netcoreapp3.1/selection_max.exe
obj/Debug/netcoreapp3.1/selection_max.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/selection_max.csproj.nuget.dgspec.json
obj/Debug/netcoreapp3.1/selection_max.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/selection_max.dll
obj/Debug/netcoreapp3.1/selection_max.exe
obj/Debug/netcoreapp3.1/selection_max.pdb
